* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-header {
  background-color: #244d4d;
  color: white;
}
.main-header .first-header {
  margin: 0 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -moz-column-gap: 20px;
       column-gap: 20px;
  border-bottom: 0.1em solid white;
  cursor: pointer;
}
.main-header .first-header .call,
.main-header .first-header .login {
  padding-top: 40px;
  padding-bottom: 5px;
  text-align: start;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}
.main-header .first-header .login {
  text-align: end;
}
.main-header .main-container {
  margin: 0px 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  background-color: #244d4d;
}
.main-header .main-container .main-image {
  grid-column: 2/4;
  border-top: 2px solid transparent;
  border-radius: 350px 350px 0 0;
}
.main-header .main-container .main-image,
.main-header .main-container .para-container,
.main-header .main-container .bottom-image,
.main-header .main-container .right-part {
  grid-row: 2/3;
}
.main-header .main-container .para-container {
  grid-column: 4/-1;
  align-self: center;
  font-size: 35px;
}
.main-header .main-container .bottom-image {
  width: 300px;
  grid-column: 4/-2;
  align-self: self-end;
}
.main-header .main-container .left-container {
  grid-row: 2/4;
}
.main-header .main-container .right-part {
  grid-column: 1/3;
  align-self: self-start;
  justify-self: center;
  font-size: 50px;
}
.main-header .main-container .right-part .button-explore {
  padding: 15px 40px;
  color: white;
  background-color: black;
  border: 1px solid white;
  font-size: 16px;
}

.content-1 {
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 120px;
}
.content-1 .box1 {
  margin: 90px;
  display: grid;
}
.content-1 .box1 img {
  width: auto;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 14px;
}
.content-1 .box1 .phone,
.content-1 .box1 .number {
  text-align: left;
  font-size: 19px;
  padding: 5px;
  color: #02534d;
  font-family: "Times New Roman", Times, serif;
}
.content-1 .box1 .number:hover {
  font-size: 20px;
  cursor: pointer;
  color: orangered;
  transition: 0.3s;
}
.content-1 .box2 {
  display: flex;
  margin: 50px;
  justify-content: space-between;
  align-items: center;
}
.content-1 .box2 .paras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.content-1 .box2 .paras .para1,
.content-1 .box2 .paras .paras2,
.content-1 .box2 .paras .paras3 {
  margin-bottom: 10px;
  padding: 5px;
}
.content-1 .box2 .paras .para1 {
  font-size: 18px;
}
.content-1 .box2 .paras .paras2 {
  font-size: 40px;
  font-weight: 600;
  color: #02534d;
  font-family: "Times New Roman", Times, serif;
}
.content-1 .box2 .paras .paras3 {
  font-size: 18px;
  color: rgb(99, 102, 103);
}
.content-1 .box2 .paras .attach {
  margin-top: 5px;
}
.content-1 .box2 .paras .button-contact {
  margin: 28px 0;
  background-color: #02534d;
  padding: 10px 25px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
.content-1 .box2 .paras .button-contact:hover {
  font-size: 17px;
  transition: 0.4s ease-in-out;
}
.content-1 .box2 img {
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 120px;
}

.second-header {
  margin: 15px 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-top: 30px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.second-header .logo {
  font-size: 30px;
}
.second-header .menus {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  text-align: end;
}
.second-header .menus a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: white;
}

.main-footer {
  display: grid;
  background-color: #244d4d;
  height: 500px;
}
.main-footer .first-footer {
  margin: 20px 40px;
  background-color: transparent;
  justify-content: start;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 25px;
}
.main-footer .first-footer .box-1,
.main-footer .first-footer .box-2,
.main-footer .first-footer .box-3,
.main-footer .first-footer .box-4 {
  grid-row: span 2;
  color: white;
  padding: 30px;
}
.main-footer .first-footer .box-1 {
  padding-right: 20px;
  border-right: 0.1em solid rgb(102, 97, 97);
}
.main-footer .first-footer .box-1 img {
  padding-top: 15px;
  padding-bottom: 10px;
}
.main-footer .first-footer .box-1 p {
  padding-top: 15px;
  padding-bottom: 5px;
}
.main-footer .first-footer .box-2,
.main-footer .first-footer .box-3 {
  display: grid;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main-footer .first-footer .box-2 h2,
.main-footer .first-footer .box-3 h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-footer .first-footer .box-2 a,
.main-footer .first-footer .box-3 a {
  text-decoration: none;
  color: white;
}
.main-footer .first-footer .box-2 a:hover,
.main-footer .first-footer .box-3 a:hover {
  color: orangered;
  transition: 0.4s;
}
.main-footer .first-footer .box-4 h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-footer .first-footer .box-4 p {
  padding-top: 10px;
  padding-bottom: 8px;
}
.main-footer .second-footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: rgb(255, 251, 251);
}/*# sourceMappingURL=styles.css.map */